html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  height: 100%;
}
.create_template {
  height: 100%;
}
.create_header {
  justify-content: flex-end;
}
.create_header ul {
  padding: 0.2rem;
}
.header_section {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  position: sticky;
  top: 0;
  height: 3.5rem;
  width: 100%;
  z-index: 1;
  /* border-radius: 0%; */
  background-color: #fff;
  letter-spacing: 4px;
}
.bodymain {
  height: calc(100% - 3.5rem);
  overflow-y: auto;
}
.header_section a:hover {
  background-color: #ccc !important;
}
/* <!-----------------HEADER MID SECTION--------------> */

.mid_section {
  width: 100%;
  height: calc(100% - 3.5rem);
  position: relative;
}

.mid_section img:first-child {
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}
.mid_section img:nth-child(2) {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 24%;
  left: 30%;
  right: 30%;
  border-radius: 12px;
}
@media only screen and (max-width: 786px) {
  .mid_section {
    height: calc(100% - 22.5rem);
  }
}
@media only screen and (max-width: 992px) {
  .mid_section img:nth-child(2) {
    height: 50%;
    width: 97%;

    left: 1%;
  }
}

/* <!-----------------VISION-SECTION--------------> */

.vision_section h3 {
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 3rem;
  margin-left: 15px;
}
.create_vision {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 1rem 0 1rem 0;
  padding: 2rem 0rem 0 3rem;
}
.vision_section p {
  padding: 0rem 3rem 0 3rem;
  font-size: 20px;
  letter-spacing: 2px;
}

/* <!-----------------ABOUT-SECTION--------------> */

.about_section h3 {
  font-size: 3rem;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #f1f1f1;
}
.create_about img {
  height: 80%;
  margin-top: 2rem;
  margin-left: 1rem;
}
.create_about_sec {
  padding: 0.9rem 0 0 1rem !important;
  margin-top: 0.4rem;
}
.create_about_sec {
  font-size: 25px;
}
.create_card h5 {
  font-weight: 700;
}
.create_card p {
  font-size: 19px;
}
.image_cont {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4rem 0;
}
.image_about {
  height: 20rem;
  border-radius: 2rem;
}
.content_padding {
  letter-spacing: 2px;
  font-size: 20px;
}
.content_cont {
  font-size: 20px;
  padding: 4rem;
}
.common_content {
  padding: 2rem 3rem;

  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  margin: 0 8rem;
}
.tech_section {
  margin: 0 3rem;
}
.common_content h4 {
  font-size: 3rem;
  padding-bottom: 0.6rem;
  text-align: center;
}
.common_content p {
  text-align: center;
}

@media only screen and (max-width: 786px) {
  .common_content {
    margin: 0;
  }
}

@media only screen and (max-width: 786px) {
  .image_about {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .content_cont {
    text-align: center;
  }
}

/* <!-----------------PRODUCT-SECTION--------------> */
.product_section {
  position: relative;
}
.product_section h3 {
  font-size: 3rem;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #f1f1f1;
  height: 100%;
}
.carousel-item div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_icon {
  color: #e1dddd;
  font-size: 4rem;
}
.create_product img {
  border-radius: 1rem;
}

#carouselExampleControls {
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 786px) {
  .carousel_slide {
    margin-inline: 0.7rem 0.7rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* <!-----------------CONTACT-SECTION--------------> */

.create_contact {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  margin-top: 0.5rem;
  color: #fff;
  padding: 2rem;
}
.create_contact div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 786px) {
  .create_contact {
    padding: 1rem;
  }
}
